body {
  margin: 0;
  padding: 0;
  background-image: url('https://lp-cms-production.imgix.net/2019-06/813869da84003e9ab623499ae2465723-bodhnath-stupa.jpg?q=40&w=2000&auto=format');
  background-size: cover;
  background-position: center;
  font-family: 'Arial', sans-serif;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.invitation-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-top: 70px;
}
nav {
  background-color:#f57c00; /* Adjusted background color */
  color: white;
  padding: 15px;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: #ffd700;
}

#responseForm {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  display: none;
}

#responseForm h2 {
  color: #f57c00;
  text-align: center;
}

#favoriteForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#favorite,
#time {
  margin: 10px 0;
}

#confirmationMessage {
  color: #4caf50;
  display: none;
  margin-top: 20px;
}
